{% load static %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3">
            <div class="shop_sidebar_area">

                <!-- ##### Single Widget ##### -->
                <div class="widget catagory mb-50">
                    <!-- Widget Title -->
                    <h6 class="widget-title mb-30">Catagories</h6>

                    <!--  Catagories  -->
                    <div class="catagories-menu">
                        <ul id="menu-content2" class="menu-content collapse show">
                            <!-- Single Item -->
                            <li data-toggle="collapse" data-target="#clothing">
                               {% for category in DTCategory %}
                                <p>{{ category.categoryName }}</p>
                                <ul class="sub-menu collapse show">
                                    {% for genre in category.genres.all %}
                                        <li>
                                            <a href="{% url 'shop_by_genre' genre.id %}">{{ genre.genreName }}</a>
                                        </li>
                                    {% empty %}
                                        <li>No genres available</li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}

                            </li>
                        </ul>
                    </div>
                </div>

                <!-- ##### Single Widget ##### -->
                <div class="widget price mb-50">
                    <!-- Widget Title -->
                    <h6 class="widget-title mb-30">Filter by</h6>
                    <!-- Widget Title 2 -->
                    <p class="widget-title2 mb-30">Price</p>

                    <div class="widget-desc">
                        <div class="slider-range">
                            <div data-min="49" data-max="360" data-unit="$" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="49" data-value-max="360" data-label-result="Range:">
                                <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                            </div>
                            <div class="range-price">Range: $49.00 - $360.00</div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="col-12 col-md-8 col-lg-9">
            <div class="shop_grid_product_area">
                <div class="row">
                    <div class="col-12">
                        <div class="product-topbar d-flex align-items-center justify-content-between">
                            <!-- Total Products -->
                            <div class="total-products">
                                <p><span>{{ NumOfProducts }}</span> products found</p>
                            </div>
                            <!-- Sorting -->
                            <div class="product-sorting d-flex">
                                <p>Sort by:</p>
                                <form action="#" method="get">
                                    <select name="select" id="sortByselect">
                                        <option value="value">Highest Rated</option>
                                        <option value="value">Newest</option>
                                        <option value="value">Price: $$ - $</option>
                                        <option value="value">Price: $ - $$</option>
                                    </select>
                                    <input type="submit" class="d-none" value="">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <!-- Single Product -->
                    {% for DTProduct in DTProduct %}
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="{{ DTProduct.productImage.url }}" alt="">
                            </div>

                            <!-- Product Description -->
                            <div class="product-description">
                                <span>{{ DTProduct.genreID.genreName }}</span>
                                <a href="{% url 'single_product_details' 1 1 %}">
                                    <h6>{{ DTProduct.productName }}</h6>
                                </a>
                                {% if DTProduct.originalPrice > 0 %}
                                    <p class="product-price"><span class="old-price">${{ DTProduct.originalPrice }}</span> ${{ DTProduct.price }}</p>
                                {% else %}
                                    <p class="product-price"> ${{ DTProduct.price }}</p>
                                {% endif %}
                                <!-- Hover Content -->
                                <div class="hover-content">
                                    <!-- Add to Cart -->
                                    <div class="add-to-cart-btn">
                                        <a href="{% url 'cart' DTProduct.id %}" class="btn essence-btn">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}


                </div>
            </div>
            <!-- Pagination -->
            <nav aria-label="navigation">
                <ul class="pagination mt-50 mb-70">
                    <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">21</a></li>
                    <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>