{% load static %}
<div class="container">
    <div class="cta-content bg-img background-overlay"
        style="background-image: url('{% static "img/bg-img/bg-5.png" %}');">
        <div class="h-100 d-flex align-items-center justify-content-end">
            <div class="cta--text">
                <h6 style="color: #ff1010; font-size: 4rem">-60%</h6>
                <h2 style="color: white">Global Sale</h2>
                <a href="{% url 'shop' %}" class="btn essence-btn">Buy Now</a>
            </div>
        </div>
    </div>
</div>