{% load static %}
<h1  class="text-center">Top Category</h1>
<div class="container">
    <div class="row justify-content-center">

        <div class="col-12 col-sm-6 col-md-4">
            <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img"
                style="background-image: url('{% static "img/bg-img/bg-2.png" %}');">
                <div class="catagory-content">
                    <a href="#">Non-Fiction</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4">
            <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img"
                style="background-image: url('{% static "img/bg-img/bg-3.png" %}');">
                <div class="catagory-content">
                    <a href="#">Fiction</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4">
            <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img"
                style="background-image: url('{% static "img/bg-img/bg-4.png" %}');">
                <div class="catagory-content">
                    <a href="#">Technology</a>
                </div>
            </div>
        </div>

    </div>
</div>