{% load static %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3">
            <div class="shop_sidebar_area">

                <!-- ##### Single Widget ##### -->
                <div class="widget catagory mb-50">
                    <!-- Widget Title -->
                    <a href="{% url 'myapp:shop' %}">
                        <h6 class="widget-title mb-30">All Books</h6>
                    </a>

                    <!--  Catagories  -->
                    <div class="catagories-menu">
                        <ul id="menu-content2" class="menu-content collapse show">
                            <!-- Single Item -->
                            <li data-toggle="collapse" data-target="#clothing">
                               {% for category in DTCategory %}
                                <p>{{ category.categoryName }}</p>

                                <ul class="sub-menu collapse show">
                                    {% for genre in category.genres.all %}
                                        <li>
                                            <a href="{% url 'myapp:shop_by_genre' genre.id %}">{{ genre.genreName }}</a>
                                        </li>
                                    {% empty %}
                                        <li>No genres available</li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}

                            </li>
                        </ul>
                    </div>
                </div>

                <!-- ##### Single Widget ##### -->
                <div class="widget price mb-50">
                    <!-- Widget Title -->
                    <h6 class="widget-title mb-30">Filter by</h6>
                    <!-- Widget Title 2 -->
                    <p class="widget-title2 mb-30">Price</p>

                    <div class="widget-desc">
                        <div class="slider-range">
                            <div data-min="49" data-max="360" data-unit="$" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="49" data-value-max="360" data-label-result="Range:">
                                <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                            </div>
                            <div class="range-price">Range: $5 - $500.00</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-12 col-md-8 col-lg-9">
            <div class="shop_grid_product_area">
                <div class="row">
                    <div class="col-12">
                        <div class="product-topbar d-flex align-items-center justify-content-between">
                            <!-- Total Products -->
                            <div class="total-products">
                                <p><span>{{ NumOfProducts }}</span> products found</p>
                            </div>
                            <!-- Sorting -->
                            <div class="product-sorting d-flex">
                                <p>Sort by:</p>
                                <form action="{% url 'myapp:shop_by_genre' genre_id %}" method="get">
                                    <!-- Preserve current page when sorting -->
                                    {% if page_obj %}
                                        <input type="hidden" name="page" value="{{ page_obj.number }}">
                                    {% endif %}
                                    <select name="select" id="sortByselect" onchange="this.form.submit()">
                                        <option value="newest" {% if current_sort == 'newest' %}selected{% endif %}>
                                            Newest
                                        </option>
                                        <option value="price_high_low" {% if current_sort == 'price_high_low' %}selected{% endif %}>
                                            Price: $$ - $
                                        </option>
                                        <option value="price_low_high" {% if current_sort == 'price_low_high' %}selected{% endif %}>
                                            Price: $ - $$
                                        </option>
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <!-- Single Product -->
                    {% for DTProduct in DTProduct %}
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img src="{{ DTProduct.productImage.url }}" alt="">
                            </div>

                            <!-- Product Description -->
                            <div class="product-description">
                                <span>{{ DTProduct.genreID.genreName }}</span>
                                <a href="{% url 'myapp:single_product_details' DTProduct.genreID.id DTProduct.id %}">
                                    <h6>{{ DTProduct.productName }}</h6>
                                </a>
                                {% if DTProduct.originalPrice > 0 %}
                                    <p class="product-price"><span class="old-price">${{ DTProduct.originalPrice }}</span> ${{ DTProduct.price }}</p>
                                {% else %}
                                    <p class="product-price"> ${{ DTProduct.price }}</p>
                                {% endif %}
                                <!-- Hover Content -->
                                <div class="hover-content">
                                    <div class="add-to-cart-btn">
                                        <form method="post" action="{% url 'myapp:cart' DTProduct.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="quantity" value="1">
                                            <button type="submit" class="btn essence-btn">Add to Cart</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="col-12">
                        <p class="text-center">No products found in this genre.</p>
                    </div>
                    {% endfor %}

                </div>
            </div>

            <!-- Pagination -->
            {% if page_obj.has_other_pages %}
            <nav aria-label="navigation">
                <ul class="pagination mt-50 mb-70">
                    <!-- Previous Page -->
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if current_sort %}&select={{ current_sort }}{% endif %}">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link"><i class="fa fa-angle-left"></i></span>
                        </li>
                    {% endif %}

                    <!-- First Page -->
                    {% if page_obj.number > 3 %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1{% if current_sort %}&select={{ current_sort }}{% endif %}">1</a>
                        </li>
                        {% if page_obj.number > 4 %}
                            <li class="page-item disabled">
                                <span class="page-link">...</span>
                            </li>
                        {% endif %}
                    {% endif %}

                    <!-- Page Numbers -->
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li class="page-item active">
                                <span class="page-link">{{ num }}</span>
                            </li>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}{% if current_sort %}&select={{ current_sort }}{% endif %}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    <!-- Last Page -->
                    {% if page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
                        {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
                            <li class="page-item disabled">
                                <span class="page-link">...</span>
                            </li>
                        {% endif %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if current_sort %}&select={{ current_sort }}{% endif %}">
                                {{ page_obj.paginator.num_pages }}
                            </a>
                        </li>
                    {% endif %}

                    <!-- Next Page -->
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if current_sort %}&select={{ current_sort }}{% endif %}">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link"><i class="fa fa-angle-right"></i></span>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>
</div>